[submodule ".\\themes\\cactus"]
	path = .\\themes\\cactus
	url = git@github.com:zzossig/hugo-theme-zzo.git
[submodule "themes/cactus2"]
	path = themes/cactus2
	url = git@github.com:digitalcraftsman/hugo-cactus-theme.git
